<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="dashboard-page">
    <div class="container">
        <a href="/admin/logout" class="logout-button">Logout</a>
        <h2>Admin Dashboard</h2>
        
        <div>
            <h3>Users</h3>
            <input type="text" placeholder="Search users..." id="search-users" oninput="handleSearch(this.value)">
        </div>
        
        <div class="new-user-form">
            <input type="email" placeholder="New User Email" id="new-user-email">
            <input type="password" placeholder="Password" id="new-user-password">
            <div class="new-user-options">
                <button class="toggle-button off" id="new-user-admin">Off</button>
                <select id="new-user-subscription">
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                </select>
            </div>
            <button onclick="createUser()">Save User</button>
        </div>
        
        <div class="user-list-header">
            <span>Email</span>
            <span>Admin</span>
            <span>Subscription Status</span>
        </div>
        
        <ul class="user-list" id="user-list">
            <% users.forEach(user => { %>
                <li class="user-list-item">
                    <input type="text" value="<%= user.email %>" readonly>
                    <button class="toggle-button <%= user.isAdmin ? 'active' : 'off' %>" data-userid="<%= user._id %>" onclick="toggleAdmin(this)"><%= user.isAdmin ? 'On' : 'Off' %></button>
                    <select data-userid="<%= user._id %>" onchange="markChanged(this)">
                        <option value="active" <%= user.subscriptionStatus === 'active' ? 'selected' : '' %>>Active</option>
                        <option value="inactive" <%= user.subscriptionStatus === 'inactive' ? 'selected' : '' %>>Inactive</option>
                    </select>
                    <button class="confirm-changes-button" data-userid="<%= user._id %>" onclick="confirmChanges(this)">Confirm Changes</button>
                </li>
            <% }); %>
        </ul>
    </div>
    <script src="/js/admin.js"></script> <!-- External JavaScript file -->
</body>
</html>
